.songs {
    height: 40em;
    width: 60em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--color-black);
    display: block;
}

.loading {
    height: 40em;
    width: 60em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.totalSongs {
    height: 35em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em; 
    overflow-y: scroll;
}

.totalSongs::-webkit-scrollbar {
    display: none;
}

.totalCount {
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-green);
}