.home {
  padding: 3em 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em; 
}

.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em; 
}